/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */


* {
    padding: 0px;
    margin: 0px;    
}

body {
    background-color: #f8f5f1; 
}

.hamburguer{
    display: none;
}

.text{
    display: none;
}

.menu {
    background-color: #7b113a; 
    width: 100%;
    z-index: 1000;
    /* height: 68px; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;       
}

.menu_navigation{
    width: 60%;
}

.menu ul {
    list-style: none;
}

.menu ul li{
    display: inline-block;
    position: relative;
}

.menu ul li:hover{
    background-color: #7b113a; 
}

.menu ul li:hover .children{
    display: block;    
}

.menu ul li .children{
    display: none;
    background-color: #7e2a4a; 
    position: absolute;
    height: auto;
    z-index: 1000;    
}

.menu ul li .children li{
    display: block;
}

.submenu .children{
    height: auto;
}


.menu ul li a {
    color: #e2d5d5;
    display: block;
    text-decoration: none; 
    padding: 20px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;   
}


.menu_logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

.menu_logo h1{
    font-family: 'Montserrat', sans-serif;
    color: #e2d5d5;
    font-size: 22px;
}

.menu_logo img{
    width: 40px;
    height: 40px;
}

.menu_search{
    width: 30%;
    display: flex;
    align-items: center;   
    margin: 0;
}

.menu_search input{
    width: 220px;
    height: 30px;
    position: absolute; 
    right: 170px;
    top: 5px;

}

.logo{
    width: 30px;
    height: 30px;
    padding: 8px 10px;
    position: absolute;
    right: 190px;
    top: 10px;
}

.carrito{
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
    right: 100px;
    top: 10px;
}

.perfil{
    width: 30px;
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 10px;
}

.envios{
    display: flex;
    justify-content: center;
}

.envios img{
    width: 20px;
    border-radius: 20px;
}

.envios p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 42, 42);
    font-size: 18px;text-align: center;
    background-color: #f8f5f1; 
    letter-spacing: -1px;    
    padding: 0 20px 0 0;
    
}

.portada_principal img{
    width: 1349px;
}

.whatsapp img{
    width: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    
}

.container_recomendation{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 30px 0;
    text-align: center;    
}

.container_recomendation h1{
    color: #7b113a;
    font-size: 40px;
}

.recomandation {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    
}

.contact {
    display: flex;
    justify-content: left;
}
.container_contact {
    display: flex;
    justify-content: space-between;

}
.title_contact {
    color:#7b113aa2;
    font-family: 'Montserrat', sans-serif;
    margin: 0 20px;
    padding: 30px 10px;
    font-size: 50px;
    font-weight: 700;
    
    
}

.formulary-contact{
    background-color: #7b113ada;
    width: 35%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;   
    margin: 0 20px;
    height: 250px;
    
}

.formulary-contact label{
    margin:20px;        
    color: rgb(37, 7, 7);
    font-size: 20px;
    padding: 30px 0;;
}
input{
    width: 90%;
    height: 10%;
    padding: 15px 20px;
    margin: 13px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

textarea {
    width: 90%;
    height: 20%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.button_Formulary{
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 2px rgb(196, 50, 50);
    padding: 10px; 
    margin: 13px 370px;    
    background-color: #7b113ada;
    color: #f9f871;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.footer {
    background-color: white; 
    width: 100%; 
    height: 250px;
    margin: 50px 0 0 0;
    display: flex;
}  

.footer-name{
    width: 20%;
    display: flex;
    align-items: center;
    
}

.footer-name p{
    color: #7b113a;
    font-family: 'Lato', sans-serif;  
    font-size: 20px;
    margin: 25px 0 0 0;    
    text-align: center;
}


.footer-name img{
    margin: 0;
    padding: 10px 0 0 10px;
    width: 50px;
    height: 50px;
   
}

.footer-attention{
    width: 20%;
    color: #7b113a;
    font-size: 20px;
    padding: 20px 0;
    justify-content: center;
    margin-left: 40px;
    
}

.footer-attention h3{
    font-family: 'Lato', sans-serif;
}

.footer-attention p{
    padding: 10px 0;   
    margin: 10px 0;

}

.footer-attention p a{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #7b113a;   
}

.atention{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-US{
    width: 20%;
    color: #7b113a;
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
}

.footer-US h3{
    font-family: 'Lato', sans-serif;
}

.footer-US p{
    padding: 10px 0; 
    margin: 20px 0;  

}

.footer-US p a{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #7b113a;   
}

.footer_pay{
    width: 20%;
    color: #7b113a;
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
}

.footer_pay h3{
    font-family: 'Lato', sans-serif;
}

.footer_pay img{
    width: 200px;
    /* background-color: white; */
    border-radius: 20px;
    margin-top: 10px;
}

.redes{
    width: 25%;
    color: #7b113a;
    font-size: 20px;
    padding: 20px 0;
}

.container_redes{
    display: flex;
    justify-content: center;
}

.container_redes img{
    height: 40px;
    margin: 10px;
    margin-top: 20px;
    padding:  0 10px;
}

.redes h3{
    color: #7b113a;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}


/* *****************************************************MUJER********************************************************************* */
/* *****************************************************lenceria********************************************************************* */
.filter{
    display: flex;
    justify-content: space-evenly;
    margin: 60px ;

}

.menu_filter a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.category_filter{
    display: flex;
    align-items: center;
}

.category_filter img{
    width: 20px;
    height: 20px;
    align-items: center;
}

.filter_products{
    text-decoration: none;
    color: rgb(168, 42, 42);
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    align-items: center;
    padding: 0 10px;
}

.orderby{
    height: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.orderby option{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

/* ************MEDIA QUERIES******************************* */
/* ***********************************************1024**************************************************************************** */
@media screen and (max-width:1024px){

    .menu{
        height: 70px;
    }
    .menu_navegation{
        width: 45%;
        padding-left: 30px;
        display: inline-flex;
    }

    .menu ul li a{
        padding: 20px 10px 30px 10px;
        font-size: 17px;
    }

    
    .menu_logo {
        width: 20%;
    }

    .menu_logo h1{
        font-size: 22px;
        text-align: center;
    }

    .menu_search{
        width: 40%;
    }

    
    .menu_search input{
        width: 200px;
        right: 100px;
        top: 5px;

    }

    .logo{
        position: absolute;
        right: 120px;
        top: 10px;
    }

    .carrito{
        position: absolute;
        right: 60px;
        top: 10px;
        width: 30px;
    }

    .perfil{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
    }

    .envios p{
        padding: 0 20px;
    }

    .portada_principal img{
        width: calc(100%);
    }

    .whatsapp img{
        width: 50px;
        padding: 20px 20px 0 20px;
        position: fixed;
        bottom: 30px;
    }

    .Portada_1 img{
        width: calc(100%);
        height: auto;
    }

    .Portada_2 img{
        width: calc(100%);
        height: auto;
    }   

    .footer-attention p{
        padding: 5px;
    }
}

/* ***********************************************980**************************************************************************** */
@media screen and (max-width:980px){

    .menu ul li a{
        padding: 20px 5px 30px 10px;
        font-size: 15px;
    }

    
    .menu_logo {
        width: 20%;
    }

    .menu_logo h1{
        font-size: 19px;
        text-align: center;
    }

    .menu_search input{
        width: 150px;
        right: 100px;
        top: 5px;

    }
}


/* ***********************************************767**************************************************************************** */
@media screen and (max-width:767px){
    
    
    .hamburguer{
        display: flex;
        z-index: 20;
        position: fixed; 
        top: 18px;
        left: 20px;
        height: 30px;
        width: 35px;
        text-align: center;
        background: white;
        border-radius: 3px;
        transition: left 0.4s ease;   
    }

    .hamburguer span{
        color: crimson;
        font-size: 28px;
        line-height: 30px;
        cursor: pointer;
        padding-left: 4px;
    }

    .hamburguer.click{
        left: calc(22%);
        padding-left: 5px;
    }

    .hamburguer.click span:before{
        content: "\f00d";  /*Que aparezca la x después de dar click en el boton*/
    }

    .text{
        display: flex;
        position: fixed;
        left: 60px;
        justify-content: center;
        z-index: 20;
        color: rgb(2, 1, 1);
        font-size: 25px;
        font-weight: 700; /*Peso letra*/
        line-height: 65px; /*Interlineado*/
        letter-spacing: 1px; /*Espaciado de las letras*/
        
        
    }

    .menu{
        height: 60px;
    }

    .menu_navegation{
        display: inline-block;
        position: fixed;   
        left:0;  
        top: 0px;     
        width: calc(28%);
        margin: 0;
        padding: 30px 0;
        height: calc(100%);
        z-index: 10;
        transition: all 1s ease;
        background-color:white;
        /* background: #ee9ca7;  fallback for old browsers */
        /* background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to right, #ffdde1, #ee9ca7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }


    .menu_active{
        left: -100%;        
    }
    .menu ul li:hover{
        background-color: transparent;   
    }

    .men-btn span{
        position: relative;
        top: 12px;
        left: 35px;
        transform: translateY(-50%); 
        font-size: 22px;
        transition: transform 0.4s;
    }

    .women-btn span{
        position: relative;
        top: 12px;
        left: 43px;
        transform: translateY(-50%); 
        font-size: 22px;
        transition: transform 0.4s;
    }

    .it-btn span{
        position: relative;
        top: 12px;
        left: 18px;
        transform: translateY(-50%); 
        font-size: 22px;
        transition: transform 0.4s;
    }

    .submenu_4{
        padding: 10px 0;
    }

    nav ul .men-show.show{
        display: none;
    }
    
    nav ul .women-show.show1{
        display: flex;
    }

    nav ul li a span.rotate{
        transform: translateY(-50%) rotate(-180deg); /*cuando pasa el mouse se voltea la flecha*/
    }
    
    
    nav ul .it-show.show2{
        display: block;
    }

    .menu ul li .children {
        background-color: rgb(255, 255, 255);
        width: 100%;
        position: relative;        
    }

    .menu ul li ul li{
        border-bottom: none;
    }

    .menu ul li{
        line-height: 0px;
        border-bottom: 2px solid #d6d5d5;
        color: black;
        text-align: center;
    }
    .menu ul li a{
        border-bottom: 0.5px solid #f0eeee;
       
    }

    .menu_navegation li{
        width: calc(100%);
        margin-top: 0px;
    }
        
    .menu ul li a {
        color: #110303;
        display: block;   
        width: calc(100%);   
        padding: 20px 0;  
    }

    .men-btn{
        margin-top: 60px;        
    }
    
    .menu_logo {
        width: 80%;
        margin-left: 150px;

    }

    .menu_logo h1{
        font-size: 23px;
        text-align: center;
        justify-content: center;
        
    }

    .menu_search{
        width: 20%;        
    }

    .menu_search input{
        display: none;

    }

    .logo{
        display: none;
    }

    .carrito{
        position: absolute;
        right: 90px;
        top: 10px;
        width: 30px;
        padding: 0;
        margin-top: 10px;
    }

    .perfil{
        position: absolute;
        right: 30px;
        top: 10px;
        width: 30px;
        padding: 0;
        margin-top: 10px;
    }

    .envios p{
        padding: 0 20px 0 60px;
        font-size: 15px;
    }
    .whatsapp img{
        width: 50px;
        padding: 20px 20px 0 20px;
        position: fixed;
        bottom: 30px;
    }

    .container_recomendation h1{
        font-size: 35px;
    }

    .footer{
        flex-wrap: wrap;
        height: auto;
    }

    .footer-name{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .footer-name p{
        font-size: 25px;
    }

    .footer-attention{
        width: 100%;
        margin-left: 30px;
        text-align: center;
    }
    

    .atention{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .footer_pay{
        width: 100%;
        text-align: center; 
    }

    .footer-US{
        width: 100%;
        text-align: center;      
    }

    .redes{
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: black;
        
    }

    .redes h3{
        margin: 0;
    }
}
/* ***********************************************696**************************************************************************** */
@media screen and (max-width:696px){
    .menu_navegation{
        width: 30%;
    }

    .men-btn span{
        left: 13px;        
    }

    .women-btn span{
        left: 15px;
    }

    .it-btn span{
        left: 0;
    }

    .menu_logo{
        margin-left: 100px;
        
    }

    .menu_logo h1{
        font-size: 24px;
    }

    .carrito{
        width: 25px;
        height: 25px;
    }

    .perfil{
        width: 25px;
        height: 25px;
    }

    .container_recomendation h1{
        font-size: 30px;
    }

    .footer_pay img{
        width: calc(50%);
    }

}

/* ***********************************************480**************************************************************************** */
@media screen and (max-width:480px){
    
    .menu_navegation{
        width: 35%;
    }
    
    .menu_logo{
        margin-left: 50px;        
    }

    .perfil{
        display: none;
    }
    .carrito{
        right: 20px;
    }
    .menu_navegation{
        width:80%
    }

/* ***********************************************320**************************************************************************** */

@media screen and (max-width:320px){
    
    .hamburguer.click{
        left: 28%;
    }
    .menu_navegation{
        width: 43%;
    }

    .menu ul li a{
        padding: 20px 0;
    }

    .men-btn span{
        left: 18px;        
    }

    .women-btn span{
        left: 25px;
    }

    .it-btn span{
        left: 5px;
    }

    .menu_logo{
        margin-left: 70px;
    }

    
    
}